<% layout('layout/boilerplate') %>
<html>

<head>
    <meta charset="utf-8">
    <title>Change a map's style</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 200px;
            top: 0;
            bottom: 0;
            width: 550px;
        }
    </style>
</head>

<body>
    <style>
        #menu {
            position: absolute;
            float: right;
            background: #139FC6;
            font-family: 'Open Sans', sans-serif;
        }
    </style>

    <div id="map"></div>

    <div id="menu">
        <input id="satellite-streets-v12" type="radio" name="rtoggle" value="satellite" checked="checked">
        <!-- See a list of Mapbox-hosted public styles at -->
        <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
        <label for="satellite-streets-v12">satellite streets</label>
        <input id="light-v11" type="radio" name="rtoggle" value="light">
        <label for="light-v11">light</label>
        <input id="dark-v11" type="radio" name="rtoggle" value="dark">
        <label for="dark-v11">dark</label>
        <input id="streets-v12" type="radio" name="rtoggle" value="streets">
        <label for="streets-v12">streets</label>
        <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors">
        <label for="outdoors-v12">outdoors</label>
    </div>
    <script>
        mapboxgl.accessToken = '<%-process.env.mapbox_token%>'
          const campground = <%-JSON.stringify(campground)%>  
    
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/satellite-streets-v12', // style URL
            center: campground.geometry.coordinates, // starting position [lng, lat]
            zoom: 13 // starting zoom
        });

        const layerList = document.getElementById('menu');
        const inputs = layerList.getElementsByTagName('input');

        for (const input of inputs) {
            input.onclick = (layer) => {
                const layerId = layer.target.id;
                map.setStyle('mapbox://styles/mapbox/' + layerId);
            };
        }
        
    new mapboxgl.Marker()
    
        .setLngLat(campground.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 })
                .setHTML(
                    `<h3>${campground.title}</h3><p>${campground.location}</p>`
                )
        )
        .addTo(map)

    </script>

</body>

</html>
















<script>


</script>