
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

<link rel="stylesheet" href="/stylesheet/style.css">


    <title>Forms</title>
<body>
    <form action="/register" method="POST" class="validated-form" novalidate>
        <!-- Left Side of the form-->
        <div class="contact-left">
            <h1 class="title">Contact Us</h1>
            <p class="description">Let's stay in touch.</br> For more information, </br> sign up. </p>
        </div>
        <!--Right side of the form-->
        <div class="contact-right">
            <div class="input-container">
                <div class="placeholder">Username</div>
                <input type="text" id="username" name="username" autocomplete="off" class="input-name input" required >
                <svg class="line-svg" width="300" height="2" viewBox="0 0 300 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="elastic-line" d="M0 0.999512C0 0.999512 60.5 0.999512 150 0.999512C239.5 0.999512 300 0.999512 300 0.999512"
                        stroke="#D1D3DA" stroke-width="3" />
                    </svg>
                </div>
            
            <div class="input-container">
                <div class="placeholder">Email</div>
                <input type="text" id="email" name="email" autocomplete="off" class="input-name input" required >
                <svg class="line-svg" width="300" height="2" viewBox="0 0 300 2" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="elastic-line"
                        d="M0 0.999512C0 0.999512 60.5 0.999512 150 0.999512C239.5 0.999512 300 0.999512 300 0.999512"
                        stroke="#D1D4DA" stroke-width="3" />
                </svg>
            </div>
            <div class="input-container">
                <div class="placeholder">Password</div>
                <input  type="text" name="password" id="password"  autocomplete="off" class="input-name input" required>
                <svg class="line-svg" width="300" height="2" viewBox="0 0 300 2" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="elastic-line"
                        d="M0 0.999512C0 0.999512 60.5 0.999512 150 0.999512C239.5 0.999512 300 0.999512 300 0.999512"
                        stroke="#D1D4DA" stroke-width="3" />
                </svg>
           </div>
        <div class="promo-container">
            <div class="checkbox-container">
                <span class="checkmark"></span>
                <div class="checkbox-fill"></div>
                <input type="checkbox" type="checkbox" class="checkbox">
                <svg
                width="19"
                height="16"
                viewBox="0 0 19 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="tick-mark"
              >
                <path class="elastic-line" d="M2 8.5L6.5 13L17.5 2" stroke="white" stroke-width="4" />
              </svg>
            </div>
            <label class="checkbox-label">Send me promotions and offers.</label>
        </div>
        <button>Submit</button>
        <a href="campgrounds/home">Back to camp</a>
      </div>
    
      <svg
  id="character"
  width="241"
  height="336"
  viewBox="0 0 241 336"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>


</svg>

    <div class="submitted">
        <p>Thanks for submitting. </br> You'll hear from us soon 👏</p>
    </div>
    </form>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
      integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascript/form.js"></script>


</html>
















