
<head>
<!--Bootstrap Thumbnail Carousel with Content-->
<script> Cross - Origin - Embedder - Policy: same - origin   </script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>




<link rel="stylesheet" href="/stylesheet/homeCarousel.css"> 
<link rel="stylesheet" href="/stylesheet/home.css">




</head>
<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Camp</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <% if(!loggedUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Camp</h1>
            <p class="lead"> Welcome to Camp! <br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                Campgrounds</a>
        </main>
<p>
<div class="container">
  <h2>pictures</h2>
Credit//unsplash.com/photos 
   <section class="customer-logos slider">
      <div class="slide"><img src="https://source.unsplash.com/6qfxmy3657c"></div>
      <div class="slide"><img src="https://source.unsplash.com/RE05ATk5ymg"></div>
      <div class="slide"><img src="https://source.unsplash.com/y2oAd10UfIU"></div>
      <div class="slide"><img src="https://source.unsplash.com/HRBbua2pqzU"></div>
      <div class="slide"><img src="https://source.unsplash.com/K0bicc12y_o"></div>
      <div class="slide"><img src="https://source.unsplash.com/zHx8-P99Xws"></div>
      <div class="slide"><img src="https://source.unsplash.com/aoEwuEH7YAs"></div>
      <div class="slide"><img src="https://source.unsplash.com/2sovQGpuXxg"></div>
      <div class="slide"><img src="https://source.unsplash.com/voUYQjTFNWw"></div>
   </section>

</div>
</p>
</header>
</html>


<script type="text/javascript" src="/javascript/homeCarousel.js"></script>
<link rel="stylesheet"  href="homeCarousel.css">





<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>

    
</body>